.applications-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notifications {
    position: relative;
    margin-top: -20px;
    top: 3em;
    left: 10em;
    background-color: #fb246a;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    /* padding: 1px 5px; */
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}